footer {
 width: 100vw;
 margin-left: 50%;
 transform: translateX(-50%);
 background-color: $menu-bgcolor;
 height: 200px;

 div {
   display: flex;
   justify-content: center;
   padding-top: 80px;

   a {
     margin: 0 5vw;

     .devicon{
       color: $primary-color;
       font-size: 4rem;
       transition: all .300s ease-in-out;

       &:hover {
         color: $grey-color;
       }
     }
   }
 }
}