.header-mobile{
    width: 100%;
    background-color: $white-color;
    position: fixed;
    padding: 20px;
    z-index: $satan;

    &__burger{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        right: 10px;
        display: block;
        width: 40px;
        height: 30px;

        span{
            display: block;
            height: 5px;
            border-radius: 2px;
            width: 100%;
            margin: 4px 0;
            background-color: $primary-color;
            transition: all 300ms ease-in;
        }

        &.active .line-2{
            background-color: transparent;
        }

        &.active .line-1{
            position: absolute;
            top:10px;
            transform: rotate(45deg);
        } 
        &.active .line-3{
            position: absolute;
            top:10px;
            transform: rotate(-45deg);
        }
    }

    &__close{
        text-decoration: none;
        display: none;
    }

    &__close-x{
        height: 40px;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 37px;
        right: 5px;
        font-size: 100px;
        color: $primary-color;
    }

    &__nav{
        padding-top: 20px;

        ul{
            list-style-type: none;
        }

    }

    &__link{
       font: bold 15px/20px $body-font-familly;
       color: $black-color;
       display: block;
       padding: 20px;
       border-bottom: 1px solid $black-color;
    }

    &__menu{
        top:60px;
        width: 100%;
        position: fixed;
  
        padding: 0;
        background-color: $white-color;
        display: none;
        z-index: $satan;
    }

    &__infos{
        p, span{
            padding: 0 20px;
            display: block;
        }

        a:first-child, span{
            font: bold 15px/20px $body-font-familly;
        }

        a{
            padding: 10px 20px;
        }

        p{
            font: bold 20px/24px $title-font-familly;
            padding-top: 20px;
        }

        span > a {
            padding: 5px;
        }

        a.btn-primary{
            padding: 20px;
            margin: 20px 20px 40px 20px;
            display: inline-block;
        }
    }
    &__has-dropdown{
        display: block;
        width: 100%;
        position: relative;

        & a {
            color: $primary-color;
        }

        ul {

            li {
                padding: 20px;
                a{
                    font: 500 15px/20px $body-font-familly;
                    color: $black-color;
                    margin-left: 20px;
                }
            } 
        }
       
        .header-mobile__link{
            &:after{
                position: absolute;
                content: '+';
                display: block;
                right: 20px;
                top: 20px;
                font-size: 30px;
                font-weight: bold;
                color: $primary-color;
            }
            &--opened{
                &:after{
                    content: '-';
                }

                // border-bottom: 1px solid $black-color;
            }
        }

        .dropdown{
            display: none;
            &--opened{
                display: block;
            }
        }
    }
}

@media only screen and (min-width: 767px) {
    .header-mobile{
        display: none;
        &__menu{
            display: none !important;
        }
    }
}