.header{
    display: none;
    &__main-menu{
        background-color: $menu-bgcolor;
        margin: 10px 0 30px;
    }
}

@media only screen and (min-width: 767px) {
 .header{
        display: flex;
        flex-direction: column;
        max-width: 1200px;

        .header-top {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            align-items: center;
            background-color: $white-color;

            &__infos {
                display: flex;
                align-items: flex-end;
                justify-content: center;
            }

            &__infos__location {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-right: 20px;

                p {
                    font: bold 20px/24px $title-font-familly; 
                }

                a {
                    font: bold 15px/20px $body-font-familly;
                    color: $primary-color;
                    margin-top: 10px;
                }
            }

            &__infos__contact {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                span {
                    margin-bottom: 10px;
                    font: bold 15px/20px $body-font-familly;

                    a {
                        color: $primary-color;
                        margin-left: 5px;
                    }
                }
            }
        }

        .header__main-menu {
            margin: 0;

            ul {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                list-style: none;
                background-color: $grey-color;
                padding: 10px;
                margin: 0;
                max-height: 40px;
    
                li {
                    font: bold 15px/20px $body-font-familly;
    
                    a {
                        color: $white-color;
                        transition: all 0.300s ease-in-out;
                        max-height: 40px;

                        &:hover {
                            color: $primary-color;
                        }
                    }

                    ul.desktop-dropdown {
                        display: none;
    
                        &.active {
                            
                            max-height: 40px;
                            // padding: 20px;
                           
                            li {
                              
                               background-color: $white-color;
                              
                               
                               a{
                                   color: $grey-color;
                                  padding: 10px 20px;
                                  width: 100%;
                                  display: block;
                                  height: 40px;

                                  &:hover {
                                      background-color: $primary-color;
                                      color: $black-color;
                                  }
                               }

                            }
                        }
                    }
                }
            }
        }
    }
}


