@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Raleway&display=swap');

/* Variables pour les couleurs...*/

$body-font-familly: 'Raleway', sans-serif;
$title-font-familly: 'Montserrat', sans-serif;
$emphasis:#f00;

$background-color:#eee;
$menu-bgcolor:#fff;
$satan:666;

$white-color:#fff;
$grey-color:#666666;
$black-color:#000;
$primary-color: #47C671;