/* Feuille de styles pour les titres, text, boutons ...*/
.devicon{
  font-size: 30px;
  color:$white-color;
}


.title-primary{
    font-size:28px;
    line-height:32px;
    font-weight: 600;
}